<form action="" method="POST">
    {{err}}
    <br>
    <label for="username">username</label>
    <input type="text" name="username">
    <br>
    <label for="email">email</label>
    <input type="email" name="email">
    <br>
    <label for="password">password</label>
    <input type="password" name="password" required>
    <br>
    <input type="submit" value="submit">
    <br>

</form>