.button {
    background: #beb5b5;
    outline: solid 1px black;
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-weight: 100;
    font-size: 1.5rem;
    font-weight: 100;
}

.button:active {
    background: #a59b9b;
}

.isOperator {
    background: #cea1a1;
    color: white;
    width: 7rem;
}

.isOperator:active {
    background: #ad8989;
}