form {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.input-box {
    font-size: 2.5rem;
    font-weight: 100;
    width: 50%;
    padding: 1rem;
    border-radius: 5px;
    border: solid 2px #42db42;
    margin-right: 2rem;
}

.input-box:focus {
    outline: none;
}

.input-box::placeholder {
    color: #c0b6b6;
}

.add-btn {
    font-size: 2rem;
    margin-left: 2rem;
    padding: .5rem 2rem;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #585656;
    transition: all .2s;
}

.add-btn:hover {
    background: #63788f;
    color: white;
}

.add-btn:focus {
    outline: none;
}

.add-btn:active {
    transform: scale(0.95);
}