* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  color: red;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

button {
  align-self: flex-start;
  padding: .5rem 2rem;
  border-radius: 5px;
  background: red;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}