@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 10px;
    user-select: none;
}

body {
    background-image: linear-gradient(to right top, #96afd8, #6ea7d3, #62adcd, #5fb2c5, #65b5ba);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10rem;
}